<a class="post">
  <img [src]="post.image_url">
  <div class="information">
    <h1 class="Title">{{post.title}}</h1>
    <span class="description">{{postContent}}</span>
  </div>
  <div class="bottom">
    <div class="lvl-avatar">
      <div class="avatar-username">
        <img class="avatar-post" [src]="post.profile_photo_url">
        <div class="lvl-lang">
          <p>{{post.language_object.name.toUpperCase()}}</p>
          <div class="advance">
            <span class="lvl-item"></span>
            <span class="lvl-item" [ngClass]="{'stop': shouldStop(1)}"></span>
            <span class="lvl-item" [ngClass]="{'stop': shouldStop(2)}"></span>
            <span class="lvl-item " [ngClass]="{'stop': shouldStop(3)}" ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="post-data">
      <div class="post-stats">
        <div class="post-stat-likes">
          <img class="icon-likes" src="assets/icons/heart.svg">
          <span class="likes">{{post.like_count}}</span>
        </div>
        <div class="post-stat-com">
          <img class="icon-com" src="assets/icons/likes.svg">
          <span class="comments">{{post.comment_count}}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="sub-text">
    <span class="username">By {{post.username}} </span>
    <span class="text">{{dateOfPublished}} - {{estimatedTimeToRead}} min. read</span>
  </div>
</a>
