@import "../../global_settings";





  .post {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 5px;
    overflow: hidden;
    box-shadow:0px 8px 10px #00000029;
    cursor: pointer;
    background-color: white;

    img {
      width: 100%;
      height: 225px;
      object-fit: cover;
      flex-shrink: 0;
    }

    .information {
      display: flex;
      gap: 15px;
      flex-flow: column;
      margin: $post-margin-top $post-margin-lr;


      .Title {
        font-size: 24px;
        font-weight: map-get($font-weights, "light");
      }

      .description {
        height: 41px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        color: #000;
        line-height: 19px;
      }

    }


    .bottom {

      display: flex;
      justify-content: space-between;
      margin-top: calc($post-margin-top*3.5);
      margin-left: $post-margin-lr;
      margin-right: $post-margin-lr;
      margin-bottom: $post-margin-top;

      & .avatar-post {
        width: 27px;
        height: 27px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      .lvl-avatar {

        .avatar-username {
          display: flex;
          gap: $gap-icons
        }

      }






    }


    .post-data {
      display: flex;
      flex-flow: column;


      .post-stats {
        display: flex;
        align-items: center;
        gap: 45px;


        .post-stat-com, .post-stat-likes {
          display: flex;
          align-items: center;
          gap: 10px;

        }



      }

    }



  }




.lvl-lang {
  width: 93px;
  line-height: 1;
  padding: 2px 5px;
  color: #313131;
  text-transform: uppercase;
  border: 2px solid rgba(255, 192, 46, 0.63);;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex: 1;
  gap: 7px;
  align-items: center;

  .advance {
    display: flex;
    margin-left: 2px;

    .lvl-item {
      height: 10px;
      width: 2px;
      background: $primary-color;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;
      margin-right: 4px;
    }

    .lvl-item.stop {
      background: #313131;


    }



  }

}

.post-stats {
  .post-stat-likes img,
  .post-stat-com img {
    width: 25px !important;
    height: 25px !important;
    filter: brightness(0) saturate(100%) invert(88%) sepia(80%) saturate(1375%) hue-rotate(333deg) brightness(91%) contrast(92%);
  }
}

.sub-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: $post-margin-top ;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #95989a;
  white-space: nowrap;

  .username {
    margin-left: $post-margin-lr;
    font-size: 14px;
    font-weight: 300;
    color: black;


  }

  .text {
    margin-right: $post-margin-lr;
  }

}
