<a class="post">
  <img src="assets/images/bookd.jpg">
  <div class="information">
    <h1 class="Title">Meeting New People</h1>
    <span class="description">Till just a few years ago, I was reluctant to meet new people and open myself up to them. Looking back, the reason for my reluctance was some hurts I had experienced in the past. I used to feel like</span>
  </div>
  <div class="bottom">
    <div class="lvl-avatar">
      <div class="avatar-username">
        <img class="avatar-post" src="https://e1.pxfuel.com/desktop-wallpaper/309/9/desktop-wallpaper-69318-anime-forum-avatars-cool-profile-anime.jpg">
        <div class="lvl-lang">
          GERMAN
          <div class="advance">
            <span class="lvl-item"></span>
            <span class="lvl-item"></span>
            <span class="lvl-item"></span>
            <span class="lvl-item stop"></span>

          </div>



        </div>
      </div>
    </div>
    <div class="post-data">
      <div class="post-stats">
        <div class="post-stat-likes">
          <img class="icon-likes" src="assets/icons/heart.svg">
          <span class="likes">12</span>
        </div>
        <div class="post-stat-com">
          <img class="icon-com" src="assets/icons/likes.svg">
          <span class="comments">5</span>
        </div>

      </div>
    </div>
  </div>
  <div class="sub-text">
    <span class="username">By username</span>
    <span class="text">Jul 11 - 3 min. read</span>
  </div>
</a>
