<div class="user-view-container" >
  <div class="profile-info" >
    <div class="profile-image">
      <a (click)="goToProfile()">
        <img alt="profile-photo" [src]='postInfo?.profile_photo_url'>
      </a>
      <p class="username">{{postInfo.username}}</p>
      <button *ngIf="!followingStatus().isSameUser">
        <span (click)="followUser(this.postInfo?.user_id)" *ngIf="!followingStatus().isFollow" >Follow</span>
        <span (click)="unfollowUser(this.postInfo?.user_id)" *ngIf="followingStatus().isFollow" >Unfollow</span>
      </button>
    </div>
    <div class="language-info">
      <p>LANGUAGES</p>
      <div class="lvl">

        @for (language of languages; track language.language_id) {
          <app-lng-level [language]="language"></app-lng-level>
        }

      </div>
    </div>
    <div class="stats">
      <p>{{createdPostCount}} posts written</p>
      <p>{{userPostLikesCount}} likes</p>
    </div>
  </div>

</div>
