<div class="user-view-container">
  <div class="profile-info">
    <div class="profile-image">
      <a>
        <img alt="profile-photo" ngSrc='{{postInfo.profile_photo_url'>
      </a>
      <p class="username">{{postInfo.username}}</p>
      <button>
        <span>Follow</span>
      </button>
    </div>
    <div class="language-info">
      <p>LANGUAGES</p>
      <div class="lvl">

        @for (language of languages; track language.language_id) {
          <app-lng-level [language]="language"></app-lng-level>
        }

      </div>
    </div>
    <div class="stats">
      <p>25 posts written
      <p>28l likes</p>
    </div>
  </div>

</div>
