
<section>
  <div #container class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" method="POST">
        <div class="form-header">
          <h1>Join Our Community!</h1>
          <span class="welcome-sing-in">use your email for registration</span>
        </div>
        <span class="invalidMsg" *ngIf="usernameControl.hasError('required') &&
        usernameControl.touched">
          Name is required
        </span>
        <span class="invalidMsg" *ngIf="usernameControl.hasError('minlength') &&
        usernameControl.touched">
          Name must be at least 5 characters
        </span>
        <span class="invalidMsg" *ngIf="usernameControl.hasError('maxlength') &&
        usernameControl.touched">
          Name must be at most 20 characters
        </span>
        <input formControlName="username" type="text" placeholder="Name" required />
        <span class="invalidMsg" *ngIf="emailControl.hasError('required') && emailControl.touched">
          Email is required
        </span>
        <span class="invalidMsg" *ngIf="emailControl.hasError('email') && emailControl.touched">
          Email must be a valid email address
        </span>
        <input formControlName="email" type="email" placeholder="Email"  required/>
        <span class="invalidMsg" *ngIf="passwordControl.hasError('required') && passwordControl.touched">
          Password is required
        </span>
        <span class="invalidMsg" *ngIf="passwordControl.hasError('pattern') && passwordControl.touched">
          Password must be have at least 8 characters, one uppercase letter, one lowercase letter, one number and one special character
        </span>
        <input formControlName="password" type="password" placeholder="Password" required/>
        <span class="invalidMsg" *ngIf="passwordForm.hasError('passwordMismatch') && confirmPasswordControl.touched" >
          Passwords must be the same
        </span>
        <span class="invalidMsg" *ngIf="confirmPasswordControl.hasError('required') && confirmPasswordControl.touched" >
          Password confirmation is required
        </span>
        <input formControlName="confirmPassword" type="password" placeholder="Confirm password" required />
        <button type="submit" [disabled]="registrationForm.invalid">Sign Up</button>
      </form>
    </div>
    <div  class="form-container sign-in-container">
      <form [formGroup]="loggingForm"   (ngSubmit)="signInOnSubmit()">
        <h1>Sign in</h1>
        <span>and use your account to learn</span>
        <input formControlName="email" type="email" placeholder="Email" required/>
        <span class="invalidMsg" *ngIf="logInEmailControl.hasError('required') && logInEmailControl.touched">
          Email is required
        </span>
        <span class="invalidMsg" *ngIf="logInEmailControl.hasError('email') && logInEmailControl.touched">
          Email must be a valid email address
        </span>
        <input formControlName="userPassword"  type="password" placeholder="Password" required />
        <span class="invalidMsg" *ngIf="logInPasswordControl.hasError('required') && logInPasswordControl.touched">
          Password is required
        </span>
        <a href="#">Forgot your password?</a>
        <button  type="submit"  [disabled]="loggingForm.invalid">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>Use your email and password to continue language learning journey</p>
          <button (click)="signInClick()" #signIn class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start language journey with us</p>
          <button (click)="signUpClick()" #signUp class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>


