
<div class="outer-container">
  <ng-container *ngIf="selectedOptionRowState">
    <ul class="selected-option-row">
      <app-badge-button-from-selection [selectedInterest]="userInterests"></app-badge-button-from-selection>

    </ul>
  </ng-container>
  <div class="container">

    <div class="selection-container">
      <label for="topic-options">Topics</label>
      <ng-container [formGroup]="form">
      <select  (change)="selected()" [(ngModel)]="selectedInterest" formControlName="interest"  id="topic-options">
        <option value="" disabled selected>Select Interest</option>
        @for (interest of arrayOfInterests; track interest.interest_id;) {
          <option  [ngValue]="interest">{{interest.name}}</option>
        }
      </select>
      </ng-container>
    </div>

  </div>
</div>
