@import "../../global_settings";

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.form-container {

  .editor-container {
    min-height: 200px;
    width: 100%;
    //background: rgba(203, 215, 215, 0.44);
    background-color: white;
    border: 1px solid #242020;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

}


app-selection-block-post, app-header-post, app-post-buttons-block, app-text-editor, app-header-editor {
  width: 100%;

}





