@import "../../global_settings";

form {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.form-container {

}


app-selection-block-post, app-header-post, app-post-buttons {
  width: 100%;

}

