 <div class="container">
  <div class="left-side">
    <div class="information">
      <p class="username">{{user.username}}</p>
      <p><span>speaks: </span>{{user.user_speaks}}</p>
      <p><span>learns: </span>{{user.user_learns}}</p>
      <p><span>likes: </span>{{user.user_likes}}</p>
      <p><span>comes from: </span>{{user.country}}</p>
    </div>
    <div class="profile-img-description">
      <div class="container-img">
        <img alt="avatar"  [src]="user.profile_photo_url">
      </div>
      <div class="butt-stats-con">
        <button class="followers-bttn">
          <span>7 Followers</span>
        </button>
        <button class="following-bttn">
          <span>12 Following</span>
        </button>
      </div>
      <div class="description">
        <p>{{user.description}}</p>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="header">
      <div class="text-container">
        <div class="text">
          Your Recent Post
        </div>
      </div>
    </div>
    <div class="post-container">

      @for (post of arrayOfUserPosts; track post.post_id) {
        <app-published-posts [post]="post"></app-published-posts>
      }

    </div>
  </div>
</div>
