 <div class="container">
  <div class="left-side">
    <div class="information">
      <p class="username">Username</p>
      <p><span>speaks: </span>Polish</p>
      <p><span>learns: </span>English, German</p>
      <p><span>likes: </span>reading, science, biology, philosophy, programming</p>
      <p><span>comes from: </span>Poland</p>
    </div>
    <div class="profile-img-description">
      <div class="container-img">
        <img alt="avatar"  src="https://e1.pxfuel.com/desktop-wallpaper/309/9/desktop-wallpaper-69318-anime-forum-avatars-cool-profile-anime.jpg">
      </div>
      <div class="butt-stats-con">
        <button class="followers-bttn">
          <span>7 Followers</span>
        </button>
        <button class="following-bttn">
          <span>12 Following</span>
        </button>
      </div>
      <div class="description">
        <p>My description is here..</p>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="header">
      <div class="text-container">
        <div class="text">
          Your Recent Post
        </div>
      </div>
    </div>
    <div class="post-container">
      <a class="post">
        <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
        <div class="information">
          <p class="Title">Importane of ability</p>
          <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
          <div class="post-stats">
            <div class="post-stat-likes">
              <img alt="like icon" class="icon-likes" src="assets/icons/heart.svg">
              <span class="likes">12</span>
            </div>
            <div class="post-stat-com">
              <img  alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
              <span class="comments">5</span>
            </div>
          </div>
          <div class="sub-text">
            <span class="text">Jul 11 - 3 min. read</span>
            <span class="read">READ POST</span>
          </div>
        </div>
      </a>
      <a class="post">
        <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
        <div class="information">
          <p class="Title">Importane of ability</p>
          <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
          <div class="post-stats">
            <div class="post-stat-likes">
              <img alt="like icon" class="icon-likes" src="assets/icons/heart.svg">
              <span class="likes">12</span>
            </div>
            <div class="post-stat-com">
              <img  alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
              <span class="comments">5</span>
            </div>
          </div>
          <div class="sub-text">
            <span class="text">Jul 11 - 3 min. read</span>
            <span class="read">READ POST</span>
          </div>
        </div>
      </a>
      <a class="post">
        <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
        <div class="information">
          <p class="Title">Importane of ability</p>
          <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
          <div class="post-stats">
            <div class="post-stat-likes">
              <img  alt="like icon" class="icon-likes" src="assets/icons/heart.svg">
              <span class="likes">12</span>
            </div>
            <div class="post-stat-com">
              <img alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
              <span class="comments">5</span>
            </div>
          </div>
          <div class="sub-text">
            <span class="text">Jul 11 - 3 min. read</span>
            <span class="read">READ POST</span>
          </div>
        </div>
      </a>
      <a class="post">
        <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
        <div class="information">
          <p class="Title">Importane of ability</p>
          <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
          <div class="post-stats">
            <div class="post-stat-likes">
              <img  alt="icon like" class="icon-likes" src="assets/icons/heart.svg">
              <span class="likes">12</span>
            </div>
            <div class="post-stat-com">
              <img alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
              <span class="comments">5</span>
            </div>
          </div>
          <div class="sub-text">
            <span class="text">Jul 11 - 3 min. read</span>
            <span class="read">READ POST</span>
          </div>
        </div>
      </a>
      <a class="post">
        <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
        <div class="information">
          <p class="Title">Importane of ability</p>
          <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
          <div class="post-stats">
            <div class="post-stat-likes">
              <img alt="like icon" class="icon-likes" src="assets/icons/heart.svg">
              <span class="likes">12</span>
            </div>
            <div class="post-stat-com">
              <img  alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
              <span class="comments">5</span>
            </div>
          </div>
          <div class="sub-text">
            <span class="text">Jul 11 - 3 min. read</span>
            <span class="read">READ POST</span>
          </div>
        </div>
      </a>
      <a class="post">
        <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
        <div class="information">
          <p class="Title">Importane of ability</p>
          <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
          <div class="post-stats">
            <div class="post-stat-likes">
              <img alt="like icon" class="icon-likes" src="assets/icons/heart.svg">
              <span class="likes">12</span>
            </div>
            <div class="post-stat-com">
              <img alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
              <span class="comments">5</span>
            </div>
          </div>
          <div class="sub-text">
            <span class="text">Jul 11 - 3 min. read</span>
            <span class="read">READ POST</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
