<div class="container">
  <div class="welcoming">
    <h1>Hello Username!</h1>
  </div>
    <div class="main-search-container">
      <div class="search-container">
        <ng-container *ngIf="true">
            <ul class="selected-option-row">
              <li class="selected-option">
                <div class="selected-option-container">
                  <span>German</span>
                  <button class="close">
                    <svg width="20" height="20" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg>
                  </button>
                </div>
              <li class="selected-option">
                <div class="selected-option-container">
                  <span>Polish</span>
                  <button class="close">
                    <svg width="20" height="20" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg>
                  </button>
                </div>
              </li>
            </ul>
        </ng-container>
        <select class="search-select" id="search-select" name="search-select">
          <option value="1">Languages</option>
          <option value="2">German</option>
          <option value="3">Ukrainian</option>
          <option value="4">Spanish</option>
        </select>
      </div>
    </div>
  <div class="button-container">
    <button class="advanced-filters">Show Advanced Filters</button>
  </div>
  <div class="main-search-container">
    <div class="search-container">
      <ng-container *ngIf="true">
        <ul class="selected-option-row">
          <li class="selected-option">
            <div class="selected-option-container">
              <span>Programming</span>
              <button class="close">
                <svg width="20" height="20" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg>
              </button>
            </div>
          <li class="selected-option">
            <div class="selected-option-container">
              <span>Math</span>
              <button class="close">
                <svg width="20" height="20" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M18.3 5.71a.996.996 0 00-1.41 0L12 10.59 7.11 5.7A.996.996 0 105.7 7.11L10.59 12 5.7 16.89a.996.996 0 101.41 1.41L12 13.41l4.89 4.89a.996.996 0 101.41-1.41L13.41 12l4.89-4.89c.38-.38.38-1.02 0-1.4z"></path></svg>
              </button>
            </div>
          </li>
        </ul>
      </ng-container>
      <select class="search-select" id="search-select-interest" name="search-select">
        <option value="1">Topics</option>
        <option value="2">Art</option>
        <option value="3">Programming</option>
        <option value="4">Science</option>
      </select>
      <div class="container-input">
      <span class="fa fa-search">
        <img src="assets/icons/magnifying.png">
      </span>
      <input class="search-post" type="text" placeholder="Search posts">
        <div class="container-input">
    </div>
  </div>
  </div>
  </div>
  <div class="button-container">
    <ul class="list-buttons">
      <li>
        <button>Clear filters</button>
      </li>
      <li>
        <button>followed journalers</button>
      </li>
      <li>
        <button>needs feedback</button>
      </li>
      <li>
        <button>saved posts</button>
      </li>
      <li>
        <button>commented posts</button>
      </li>
    </ul>
  </div>
  <div class="post-container">
    <div class="posts">

    </div>


  </div>
  <div class="page-prev-next-container">
    <div class="inner-container">
    <a class="prev-button">
      <span class="prev">Prev</span>
    </a>
    <p class="page-number">Page 1 of 381</p>
    <a class="next-button">
      <span class="next">Next</span>
    </a>
    </div>

  </div>




</div>

