<div class="container">
  <div class="welcoming">
    <h1>Hello Username!</h1>
  </div>
    <div class="main-search-container">
      <app-selection-block  typeOfItem="language" [items]="languages"  trackKey="language_id"></app-selection-block>


  <div class="button-container">
    <button class="advanced-filters" (click)="toggleAdvancedSearchBox()">{{advancedBox().action}} Advanced Filters</button>
  </div>

      <div class="additional" *ngIf="advancedBox().value">
  <div class="main-search-container" >
    <app-selection-block typeOfItem="interest" [items]="interests" trackKey="interest_id"></app-selection-block>
    <div class="search-container">
      <div class="container-input">
      <span class="fa fa-search">
        <img src="assets/icons/magnifying.png">
      </span>
      <input class="search-post" type="text" placeholder="Search posts">
        <div class="container-input">
    </div>
  </div>
  </div>
  </div>
  <div class="button-container">
    <ul class="list-buttons">
      <li>
        <button>Clear filters</button>
      </li>
      <li>
        <button>followed journalers</button>
      </li>
      <li>
        <button>needs feedback</button>
      </li>
      <li>
        <button>saved posts</button>
      </li>
      <li>
        <button>commented posts</button>
      </li>
    </ul>
  </div>
  </div>
  <div class="post-container">
    <div class="posts">
      @for ( post of fetchedPosts; track post.post_id) {
        <app-feed-post [post]="post"></app-feed-post>
      }

    </div>


  </div>
  <div class="page-prev-next-container">
    <div class="inner-container">
    <a class="prev-button">
      <span class="prev">Prev</span>
    </a>
    <p class="page-number">Page 1 of 381</p>
    <a class="next-button">
      <span class="next">Next</span>
    </a>
    </div>

  </div>



</div>
</div>
