<div class="container-form">
<form>
  <div class="header">
    <h1>Your details</h1>
  </div>
  <div class="inner-container">
    <div class="left-panel">
      <input type="file" class="file-input" multiple accept="image/*" (change)="onFileSelected($event)" #fileUpload>
      <div class="upload-img-container">
        <img src="https://e1.pxfuel.com/desktop-wallpaper/309/9/desktop-wallpaper-69318-anime-forum-avatars-cool-profile-anime.jpg" alt="Upload image">
        <button type="button" class="img-upload-button" (click)="fileUpload.click()">Upload Image</button>
      </div>
    </div>
    <div class="right-panel">
      <div class="input-container">
        <div class="input-field">
          <label for="nickname">Nickname</label>
          <input type="text" id="nickname" name="nickname" value="" required>
        </div>
        <div class="input-field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" value="nickname" required>
        </div>
        <div class="input-field">
          <label for="name">Your Name (optional)</label>
          <input type="text" id="name" name="nickname" value="" required>
        </div>
        <div class="input-field">
          <label for="nickname">City (optional)</label>
          <input type="text" id="city" name="city" value="" required>
        </div>
        <div class="input-field">
          <label for="country">Country (optional)</label>
          <input type="text" id="country" name="country" value="" required>
        </div>

      </div>
      <button>Update</button>

    </div>
  </div>
</form>
</div>
