<div  class="container-form">
<form  [formGroup]="userInfoForm" (ngSubmit)="onSubmit()">
  <div class="header">
    <h1>Your details</h1>
  </div>
  <div class="inner-container">
    <div class="left-panel">
      <input type="file" class="file-input" multiple accept="image/*" (change)="onFileSelected($event)" #fileUpload>
      <div class="upload-img-container">
        <img alt="profile photo" ngSrc="{{photoUrl}}">
        <button type="button" class="img-upload-button" (click)="fileUpload.click()">Upload Image</button>
      </div>
    </div>
    <div class="right-panel">
      <div class="input-container">
        <div class="input-field">
          <label for="username">Nickname</label>
          <input formControlName="username" type="text" id="username" name="username"  required>
        </div>
        <div class="input-field">
          <label for="email">Email</label>
          <input formControlName="email" type="email" id="email" name="email"  required>
        </div>
        <div class="input-field">
          <label for="name">Your Name (optional)</label>
          <input formControlName="name" type="text" id="name" name="nickname"  required>
        </div>
        <div class="input-field">
          <label for="city">City (optional)</label>
          <input formControlName="city" type="text" id="city" name="city"  required>
        </div>
        <div class="input-field">
          <label for="country">Country (optional)</label>
          <input formControlName="country" type="text" id="country" name="country"  required>
        </div>

      </div>
      <button type="submit" [disabled]="userInfoForm.invalid">Update</button>

    </div>
  </div>
</form>
</div>
