.container-comments {
  background-color: #ffffff;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .09);
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  gap:0.2em;

  p {
    font-family: "Playfair Display", serif;;
    width: 100%;
    padding: 0.5m;
    text-align:  center;
    font-size: 2rem;
  }
}
