@import "../../global_settings";


.overlay {

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.overlay.active {
  visibility: visible;
  opacity: 1;
  z-index: 1000;

}

.container {
  padding: 35px;
  display: flex;
  flex-flow: column;
  font-family: playfair, sans-serif;
  gap: 30px;
  background-color: white;
  position: relative;
  width: 85%;
  max-width: 966px;
  min-height: 50%;
  max-height: 500px;




  .button-container {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 0;

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        fill: black;
        width: 50px;
        height: 50px
      }
    }

  }


  .text {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align-last: center;

    p {
      width: 60%;
    }

  }


  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;

    .h1 {
      font-size: 1.5rem;
    }


    }





  .uploadContainer {
    .file-input {
      display: none;
    }

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    button {
      display: inline;
      color: $primary-color;
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      font-weight: 600;

    }






  }

  .submit-button-container {
    display: flex;
    justify-content: center;

    .active-submit-button {
      width: 100%;
      display: flex;
      justify-content: center;
      @extend %buttons-default


    }

    .button {
      position: relative;
      cursor: pointer;
      width: 30%;
      @extend %buttons-transparent-large;
      border: 1px solid $primary-color;
      background-color: rgba(236, 203, 55, 0);
      color: $primary-color;
    }

    .button:active {
    }

    .button.button--loading {
      background-color: $primary-color;
    }

    .button__text {
      font: bold 20px "Quicksand", san-serif;
      color: #ffffff;
      transition: all 0.2s;
    }

    .button--loading .button__text {
      visibility: hidden;
      opacity: 0;
      color: transparent;
    }


    .button--loading::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }

    }
  }

  .uploadImageContainer {

    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow:  column;
    gap: 15px;

  }

  .unsplash-container {
    display: flex;
    flex-flow: column;
    gap: 8px;
    overflow: auto;
  }
  input {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    height: 50px;
    box-shadow: 0px 8px 10px rgba(244, 190, 21, 0.16);
    font-size: 16px;
    background: white;
    padding: 10px;
    border: #eaab03 1px solid  ;

  }

  .listOfImages {
    ul {
      width: 100%;
      list-style: none;
      padding: 8px;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      justify-content: space-around;

      li {
        flex-grow: 1;

        button {
          height: 150px;
          border-radius: 3px;
          overflow: hidden;
          width: 100%;
          appearance: none;
          border: none;
          background: unset;
          padding: 0;
          margin: 0;

          img {
            position: relative;
            margin-bottom: 4px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

      }


    }
  }


}

  //#uploadImg {
  //  @extend %buttons-default;
  //  cursor: pointer;
  //}





