@import "../../global_settings";
$margin-row: 4px 8px 4px 0;


.container {
  display: flex;
  flex-flow: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  font-family: $font-stack;
  background-color: rgba(255, 165, 0, 0.14);

  .post-container {
    padding: 9px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .header-title {
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

  }

  .container-buttons {
    justify-self: center;
    align-self: center;
    width: 45%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 13px;
    background-color:#d5d9dc;
    border-radius: 30px;
    padding: 5px 5px;
    max-width: 460px;
    min-width: 460px;

    div {
      display: block;
      padding: 12px 15px;
      text-align: center;
      cursor: pointer;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: 600;
      //transition: color 150ms ease-in;
      transition: all 0.7s;
      border-radius: 30px;
      outline: 0;
      z-index: 1;
      color: rgba(15, 8, 44, 0.87);
    }

    .btn {

      background-color: rgba(255, 216, 24, 0.52);
      border-radius: 44px;
      height:calc(100% - 10px);
      width: calc(100%/3);
      position:absolute;
      top:4px;

      //left:4px;
      transition:left 0.51s ease;
    }

    .eff1 {left:6px;}
    .eff2 {left:147px;}
    .eff3 {left:299px ;}








  }







}


.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: $margin-side-bar;
}

.advanced-filters {
  @extend %buttons-default;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

.fa-search {
  position: absolute;
  height: 25px;
  width: 25px;
  right: 15px;
  top: 10px;
  img {
    height: 25px;
    width: 25px;
  }
}

.search-post {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 8px 10px #00000029;
  font-size: 16px;
  background: white;
  padding: 0.9em;
  border: none;
  //border-width: 1.02px;
  //border-color: $secondary-color;

}

input[type=text]:focus {
  outline: none;
  border: $secondary-color;
  border-width: 2px;
}


.container-input {
  position: relative;
  margin-bottom: $margin-side-bar

}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;

  ul {
    display: flex;
    width: 60%;
    list-style: none;
    flex-wrap: wrap;

    li {
      margin: $margin-row;

      button {
        @extend %buttons-default-small;
        font-weight: map-get($font-weights, 'bold');
        border-color: $secondary-color;
        cursor: pointer;
      }


      .active {
        border: 1px solid #000000;
        background-color: #eccb37;
        color: #FFFFFF;

      }

    }

  }
}

.main-search-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;

  .search-container {
    width: 60%;
  }

}


app-selection-block {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: center;

}
