<div class="container">
  <h1 class="header-title">My Posts</h1>
  <div #ContainerButtons class="container-buttons">
    <div class="published active" (click)="setClass($event)">Published</div>
    <div class="private" (click)="setClass($event)">Private</div>
    <div class="draft" (click)="setClass($event)">Drafts</div>
    <div #activeBttn class="btn eff1"></div>

  </div>
  <app-filters-block></app-filters-block>
  <div class="post-container">
<!--    <app-post-block ></app-post-block>-->

    @for (post of arrayOfUserPosts; track post.post_id) {
      <app-published-posts [post]="post"></app-published-posts>
    }
  </div>

</div>
