<aside>
  <div class="nav-wrapper">
    <nav>
      <div class="nav-top">
        <app-nav-profle></app-nav-profle>
      </div>
      <div class="nav-middle">
        <a class="item-link" routerLink="my-feed">
          <span class="item-container">
            <img src="/assets/icons/my-feed.svg" alt="My feed">
            <span class="item-name">My Feed</span>
          </span>
        </a>
        <a  class="item-link" routerLink="my-posts">
          <span class="item-container">
            <img src="/assets/icons/my-feed.svg" alt="My posts">
            <span>My Posts</span>
          </span>
        </a>
        <a  class="item-link" routerLink="new-post">
          <span class="item-container">
            <img src="/assets/icons/pen-square.svg" alt="New post">
            <span>New Post</span>
          </span>
          </a>
        <a  class="item-link">
          <span class="item-container">
            <img src="assets/icons/chat.svg" alt="My chats">
            <span>My Chats</span>
          </span>
        </a>
        <a  class="item-link">
          <span class="item-container">
            <img src="assets/icons/friends.svg" alt="My friends">
            <span>My Friends</span>
          </span>
        </a>
        <a  class="item-link">
          <span class="item-container">
            <img src="assets/icons/notification.svg" alt="Notifications">
            <span>Notifications</span>
          </span>
        </a>
        <a  class="item-link">
          <span class="item-container">
            <img src="assets/icons/settings.svg" alt="Settings">
            <span>Settings</span>
          </span>
        </a>
        </div>
      <div class="logout">
        <button class="bttn-log-out">
          Log Out
        </button>
      </div>
    </nav>
  </div>
</aside>
