@import "../../global_settings";

//app-new-post {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 100%;
//}


.main-container {
  width: 100%;
  height: 100%;
  font-family: $font-stack;
  background-color: rgba(255, 165, 0, 0.14);
  padding:  1.25em 3.125em ;
  display: flex;
  justify-content: center;


  .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content 1fr auto;
    gap: 10px;
    justify-content: center;
    align-content: center;
    place-items: center;
    max-width: 1350px ;




  }


  .bottom-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 40%);
    gap: 10px;
  }


  @media (max-width: 768px) {
    .bottom-container {
      grid-template-columns: 1fr;
    }
  }

  app-post-view {
  width: 100%;

  }
}
