@import "../../global_settings";

.lvl-lang {
  line-height: 1;
  padding: 2px 5px;
  color: #313131;
  text-transform: uppercase;
  border: 2px solid rgba(255, 192, 46, 0.63);;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  flex: 1;
  gap: 1.75em;
  align-items: center;

  .advance {
    display: flex;
    margin-left: 2px;
    justify-self: flex-end;

    .lvl-item {
      height: 10px;
      width: 2px;
      background: $primary-color;
      border-radius: 1px;
      margin-right: 4px;
    }

    .lvl-item.stop {
      background: #313131;


    }



  }

}
