<div class="header-post-container">
  <div class="top-block">
    <app-language-indicator></app-language-indicator>
    <div class="container-bttn">
      <button>Choose Image</button>
      <div class="x-icon"></div>
    </div>
  </div>
  <div class="middle-block">
    <h1 class="title">Tytuł postu hahah haha haha haha jakis tam cos tam cost tam trzeba dzialac</h1>
    <span>-</span>
    <p class="author">Author</p>
    <p class="data">July 30, 2024</p>
  </div>
  <app-interests-indicator></app-interests-indicator>
</div>
