<div class="header-post-container"  [ngStyle]="{'background-image': 'url(' + postImageUrl+ ')' + ', linear-gradient(rgba(0, 0, 0, 0.74), rgba(0,0,0,0.74))'}">
  <div class="top-block">
    <app-language-indicator [selectedLanguage]="selectedLanguage"></app-language-indicator>
    <div class="container-bttn" *ngIf="isButtonActive">
      <button (click)="chooseImg($event)" class="button-img">Choose Image</button>
    </div>
  </div>
  <div class="middle-block">
    <ng-container *ngIf="rowTitleState">
      <h1 #TitleElement class="title">
        <span>{{title}}</span></h1>
    </ng-container>
    <span>-</span>
    <p class="author">By {{username}}</p>
    <p class="data">{{formattedData}}</p>
  </div>
  <app-interests-indicator></app-interests-indicator>
</div>
