
<div class="outer-container">
  <ng-container *ngIf="selectedOptionRowState">
    <ul class="selected-option-row">
      <app-badge-button-from-selection  (notifyParent)="getNotification($event)" [selectedInterest]="selectedLanguages"></app-badge-button-from-selection>

    </ul>
  </ng-container>
<div class="container">

  <div class="selection-container">
    <label for="topic-options">Topics</label>
    <select (change)="selected()" [(ngModel)]="selectedLanguage"  id="topic-options">
      <option value="" disabled selected>Select Language</option>
      @for (language of arrayOfLanguages; track language.language_id;) {
        <option  [ngValue]="language">{{language.name}}</option>
      }
    </select>
  </div>
  <div class="selection-container">
      <label for="lang-lvl">Level</label>
      <select id="lang-lvl" (change)="getSelectedLevel($event.target)">
        <option value="" disabled selected>Select Level</option>
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
        <option>Native</option>
    </select>
  </div>
</div>
</div>
