body {
  margin: 0;
  padding: 0;
}


//#global_var = ({
//'color': #333';
//'font-size': 16px;
//'font-family': Arial, sans-serif;
//});

$post-margin-top: 10px;
$post-margin-lr: 10px;
$gap-icons : 10px;

$font-weights: (

  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900,
);

@mixin font-weight($weight) {
  font-weight: map-get($font-weights, $weight);
}


.container {
  font-family: 'Encode-Sans', sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

@font-face {
  font-family: playfair;
  src: url("/assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf");

}

@font-face {
  font-family: playfair-italic;
  src: url("/assets/fonts/Playfair_Display/static/PlayfairDisplay-Italic.ttf");

}


@font-face {
  font-family: playfair-bold;
  src: url("/assets/fonts/Playfair_Display/static/PlayfairDisplay-Bold.ttf");

}

$primary-color: #e8bc11;
$secondary-color: rgb(234, 177, 50);
$background-color: #d0cbcb;
$font-stack: 'Encode-Sans', sans-serif;
$margin-side-bar: 2.4em;
$disabled-color: rgba(232,188,17,0.25);

%buttons-default {
  border-radius: 20px;
  border: 1px solid #deda00;
  background-color: #eccb37;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

%buttons-transparent-large {
  border-radius: 20px;
  border: 1px solid #f3f1e7;
  background-color: rgba(236, 203, 55, 0);
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.9em 1.9em;
  letter-spacing: 1px;
  text-transform: uppercase;

}

%buttons-default-small {
  border-radius: 20px;
  border: 1px solid #f3f1e7;
  background-color: rgba(236, 203, 55, 0);
  color: #231f17;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.7em 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;

}


%buttons-default-small:hover {
  border: 1px solid #deda00;
  background-color: #eccb37;
  color: #FFFFFF;

}






%post-container {
  padding: 9px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10xp;
  width: 100%;

  .post-img {
    object-fit: cover;
    //width: 125px !important;
    height: 155px !important;
    width: 45% !important;

  }


  .post {
    //padding: $padding;
    width: 100%;
    display: flex;
    gap: 10px;
    box-shadow: 0 8px 10px #00000029;


    .information {
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 10px;
      padding-top: 10px;
      max-height: 155px;
      padding-right: 10px;


      .Title {
        //font-size: 1.3em;
        //font-weight: 500;
        font-size: 24px;
        font-weight: map-get($font-weights, "light");
      }

      .description {
        //line-height: 19px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2;
        -webkit-box-orient: vertical;
        //min-height: 50px;
      }

      .sub-text {

        display: flex;
        justify-content: space-between;
        .text {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 12px;
          //line-height: 20px;
          color: #95989a;
          white-space: nowrap;
        }

        .read {
          //display: block;
          font-family: "Source Sans Pro", sans-serif;
          font-size: 12px;
          //line-height: 20px;
          color: $primary-color;
          text-transform: uppercase;
        }
      }
    }


  }

  .post-stats {
    span {
      width: 19px !important;
      height: 19px !important;
    }

    .post-stat-likes img,
    .post-stat-com img {
      width: 19px !important;
      height: 19px !important;
      filter: brightness(0) saturate(100%) invert(88%) sepia(80%) saturate(1375%) hue-rotate(333deg) brightness(91%) contrast(92%);
    }
  }

  .post-stats {
    display: flex;
    align-items: center;
    gap: 25px;


    .post-stat-com, .post-stat-likes {
      display: flex;
      align-items: center;
      gap: 10px;

    }



  }


}







%form-settings {
  background-color: white;
  width: 100%;
}

%container-form {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .05);
  font-family: playfair, sans-serif;
  font-weight: 200;
  padding: 0px 50px 50px 0px;
  width: 98%;
  justify-content: center;
  background-color: white;
}
  %header {
    padding: 10px 0px 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    h1 {
      font-size: 1.6rem;
      margin-left: 25px;
    }

  }
