body {
  margin: 0;
  padding: 0;
}


//#global_var = ({
//'color': #333';
//'font-size': 16px;
//'font-family': Arial, sans-serif;
//});



$font-weights: (

  'light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
  'black': 900,
);

@mixin font-weight($weight) {
  font-weight: map-get($font-weights, $weight);
}


.container {
  font-family: 'Encode-Sans', sans-serif;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

$primary-color: #e8bc11;
$secondary-color: rgb(234, 177, 50);
$background-color: #d0cbcb;
$font-stack: 'Encode-Sans', sans-serif;
$margin-side-bar: 2.4em;

%buttons-default {
  border-radius: 20px;
  border: 1px solid #deda00;
  background-color: #eccb37;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

%buttons-transparent-large {
  border-radius: 20px;
  border: 1px solid #f3f1e7;
  background-color: rgba(236, 203, 55, 0);
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.9em 1.9em;
  letter-spacing: 1px;
  text-transform: uppercase;

}

%buttons-default-small {
  border-radius: 20px;
  border: 1px solid #f3f1e7;
  background-color: rgba(236, 203, 55, 0);
  color: #231f17;
  font-size: 0.6rem;
  font-weight: bold;
  padding: 0.7em 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;

}


%buttons-default-small:hover {
  border: 1px solid #deda00;
  background-color: #eccb37;
  color: #FFFFFF;

}
