@import "../../global_settings";

.selected-option-row {
  display: flex;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;

  .selected-option {
    margin: 4px 8px 4px 0;
    border-radius: 16px;
    background-color: $primary-color;

    .selected-option-container {
      display: flex;
      padding: 4px 15px;

      span {
        color:white;
        flex: 1;
        margin-right: 4px;
      }

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        svg {
          fill: white;
        }
      }

    }

  }

}
