@import "../../global_settings";

form {
  @extend %form-settings
}

.container-form {
  @extend %container-form;

  .header {
    @extend %header
  }

  .inner-container {
    margin-left: 25px;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 25px;

    //button {
    //  width: 30%;
    //  @extend %buttons-transparent-large;
    //  border: 1px solid $primary-color;
    //  background-color: rgba(236, 203, 55, 0);
    //  color: $primary-color;
    //  position: relative;
    //
    //}


    .active-submit-button {

      @extend %buttons-default


    }

    .button {
      position: relative;
      cursor: pointer;
      width: 30%;
        @extend %buttons-transparent-large;
        border: 1px solid $primary-color;
        background-color: rgba(236, 203, 55, 0);
        color: $primary-color;
    }

    .button:active {
    }
    .button.button--loading {
      background-color: $primary-color ;
    }

    .button__text {
      font: bold 20px "Quicksand", san-serif;
      color: #ffffff;
      transition: all 0.2s;
    }

    .button--loading .button__text {
      visibility: hidden;
      opacity: 0;
      color: transparent;
    }


    .button--loading::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }


    }
  }
}



.container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  gap: 15px;

  .selection-container {
    width: 100%;
  }


}

input,select {
  white-space: normal;
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: none;
  background-color: #fff;
}

label {
  margin-bottom: 10px;
}


select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  //width: 20rem;
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  background: $primary-color;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 12px;
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top:5px;
  //margin-bottom: $margin-side-bar;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */

}

