@import "../../global_settings";

form {
  @extend %form-settings
}

.container-form {
  @extend %container-form;

  .header {
    @extend %header
  }

  .inner-container {
    margin-left: 25px;
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 25px;

    //button {
    //  width: 30%;
    //  @extend %buttons-transparent-large;
    //  border: 1px solid $primary-color;
    //  background-color: rgba(236, 203, 55, 0);
    //  color: $primary-color;
    //  position: relative;
    //
    //}

    .active-submit-button {

      @extend %buttons-default


    }

    .button {
      position: relative;
      cursor: pointer;
      width: 30%;
        @extend %buttons-transparent-large;
        border: 1px solid $primary-color;
        background-color: rgba(236, 203, 55, 0);
        color: $primary-color;
    }

    .button:active {
    }
    .button.button--loading {
      background-color: $primary-color ;
    }

    .button__text {
      font: bold 20px "Quicksand", san-serif;
      color: #ffffff;
      transition: all 0.2s;
    }

    .button--loading .button__text {
      visibility: hidden;
      opacity: 0;
      color: transparent;
    }


    .button--loading::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      border: 4px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: button-loading-spinner 1s ease infinite;
    }

    @keyframes button-loading-spinner {
      from {
        transform: rotate(0turn);
      }

      to {
        transform: rotate(1turn);
      }


    }
  }
}


