
.container-comment {
  display: flex;
  justify-content: space-between;

.icons {
  display: flex;
  gap: 0.3em;


  span {

    display: flex;
    align-items: center;

    img {

      transition: filter .2s;
      height: 2em;
      width: 2em;
      filter: brightness(0) saturate(100%) invert(64%) sepia(66%) saturate(602%) hue-rotate(7deg) brightness(106%) contrast(87%);

    }

  }


  .delete:hover img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(5295%) hue-rotate(355deg) brightness(98%) contrast(103%);

  }

  .edit:hover img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(100%) saturate(5295%) hue-rotate(355deg) brightness(98%) contrast(103%);

  }

}




}




.comment {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  display: flex;
  flex-flow: column;
  gap: 0.2em;


  .up {
    display: flex;

    a {
      font-size: 1rem;
      line-height: 24px;
      text-decoration: none;
      color: #000;


      div {

          display: flex;
          justify-content: center;
          align-items: center;
       img {
         width: 30px;
         height: 30px;
         border-radius: 50%;
         object-fit: cover;
       }
      }
    }


    .comment-info {
      margin-left:0.2em ;
      display: flex;
      flex-flow: column;
      line-height: 1.2;

      .nick {

        font-weight: bold;
        font-size: 0.9rem;

      }

      .data {
        font-weight: 400;
        color: #757575;
        text-align: left;

      }

    }

  }

  .down {

    p {
      line-height: 1.3em;
      font-size: 1rem;
      width: 100%;
    }

  }
}
