
  <a class="post" (click)="navigateToPost($event)">
    <img class="post-img"  src="assets/images/boat.jpg" alt="post image">
    <div class="information">
      <p class="Title">Importane of ability</p>
      <p class="description">blalbalbl blblb blblb lblbba sdsdsd sd sd sdsd sds dsd s dsd sd sd sd sd s dsdsdsds sdsds sdsdsd sdsdsdsd sd</p>
      <div class="post-stats">
        <div class="post-stat-likes">
          <img  alt="like icon" class="icon-likes" src="assets/icons/heart.svg">
          <span class="likes">12</span>
        </div>
        <div class="post-stat-com">
          <img alt="comment icon" class="icon-com" src="assets/icons/likes.svg">
          <span class="comments">5</span>
        </div>
      </div>
      <div class="sub-text">
        <span class="text">Jul 11 - 3 min. read</span>
        <span class="read">READ POST</span>
      </div>
    </div>
  </a>

