
<div class="input-container">
  <label for="post-title">Title</label>
  <input id="post-title" type="text" required [(ngModel)]="titleValue"  (input)="onChangeInput($event.target)">
</div>
<div class="input-container">
  <label for="language-options">Language</label>
  <select id="language-options" name="search-select">
    <option value="1">Languages</option>
    <option value="2">German</option>
    <option value="3">Ukrainian</option>
    <option value="4">Spanish</option>
  </select>
</div>
<div class="input-container">
  <app-select-input></app-select-input>
</div>

