
<div class="input-container">
  <label for="post-title">Title</label>
  <input id="post-title" type="text" required [(ngModel)]="titleValue"  (input)="onChangeInput($event.target)">
</div>
<div class="input-container">
  <label for="language-options">Language</label>
  <select id="language-options" name="search-select" (change)="selected($event.target)">
    <option value="" disabled selected>Select Language</option>
    <option>German</option>
    <option>Ukrainian</option>
    <option>Spanish</option>
  </select>
</div>
<div class="input-container">
  <app-select-input></app-select-input>
</div>

